/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
/*    color: RGB(235, 235, 235);*/
	color: RGB(27, 59, 70);
    font-size: calc(18px + 0.390625vw);
}

/* Main page section settings */
#navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(to bottom, #827298, #babed0);
}

#landing, #projects, #tools, #contact, #footer {
	background: #babed0;
}

.section-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: calc(54px + 1.171875vw);
/*    margin-top: 2rem;*/
}


#back-to-top, #back-to-top2 {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 15px;
}
/* Main page section settings */

/*cover*/
#cover {
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    color: RGB(235, 235, 235);
    letter-spacing: 2rem;
    background: #827298;
/*  background-size: cover;
    background-position: center;*/
}

#coverdesc {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
}

#coversocials {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: auto;
    margin-top: 70px;
}

#coversocials a {
    text-decoration: none;
    color: inherit;
    margin-top: 60px;
    letter-spacing: 1rem;
}


/*cover*/


/*landing*/
#intro {
	text-indent: 20px;
}

#about {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #e2c0b4, #babed0);
  text-align: center;
  text-indent: 20px;
}

#drive {
	border-radius: 20px;
	text-align: justify;
    padding: 35px;
}

.bg1 {
	background: linear-gradient(to bottom, #617bc2, #babed0);
/*	background-color: #617bc2;*/
}
.bg2 {
	background: linear-gradient(to bottom, #5b7bc4, #babed0);
/*	background-color: #5b7bc4;*/
}
.bg3 {
	background: linear-gradient(to bottom, #557bc7, #babed0);
/*	background-color: #557bc7;*/
}


#landing img {
	width: auto;
	height: 100%;
	border-radius: 50%;
}

/*landing*/

#projects .carousel-item img {
	object-fit: contain;
	max-height: 500px;
}

#tools .carousel-item img {
	object-fit: contain;
	height: 120px;
}